<h1><%= @user.username %></h1>

<h2>Uncompleted Goals</h2>

<% @user.goals.each do |goal| %>
  <ul>
  <% unless goal.completed? %>
    <li><%= link_to goal.body, goal_url(goal) %></li>
  <% end %>
  </ul>
<% end %>

<h2>Completed Goals</h2>

<% @user.goals.each do |goal| %>
  <ul>
  <% if goal.completed? %>
    <li><%= link_to goal.body, goal_url(goal) %></li>
  <% end %>
  </ul>
<% end %>

<%= render 'layouts/new_comment', commentable: @user %>
